<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/storage/white.ico}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title>リスト</title>
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="displayflexcenter">
				<a th:href="@{/}"><img class="logo" th:src="@{/storage/longrogo.jpg}" alt="CirClIng"></a>

			</div>

		</header>
		<main>
			<a th:href="@{/chat/__${board.getId()}__/list}" class="indentcome">戻る</a>
			<h1 class="top-1"><span th:text="${board.getName()}"></span><span>の名前変更</span></h1>
			<form method=post th:action="@{/chat/__${board.getId()}__/settings/ed}" th:object="${grupeNameEdit}">
				<label for="name">名前</label>
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
				<input type="text" th:field="*{name}">
				<button type="submit">変更</button>
			</form>
		</main>
	</div>
	<footer class="footerchat">
		<a th:href="@{/home}"><img class="chaticon" th:src="@{/storage/home.jpg}" alt="home"></a>
		<a th:href="@{/chat}"><img class="chaticon" th:src="@{/storage/chat.jpg}" alt="chat"></a>
		<a th:href="@{/settings}"><img class="chaticon" th:src="@{/storage/settings.jpg}" alt="settings"></a>
	</footer>
</body>

</html>