<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/home.css}" rel="stylesheet">
	<title>ゲーム：お知らせ</title>
</head>

<body>
	<div class=k>
		<button type="button" th:onclick="|location.href='__@{/game/home}__'|">ホームに戻る</button>
		<div class=border>
			<h5>戦闘、武器装着でエラーが発生する件について</h5>
			<p>原因追及及び修正を今週末（9/13・14）に執り行いました。</p>
			<p>現段階ではエラーの原因を見つけることが出来ませんでした。<br>
				そのためエラーが発生したタイミングでエラー箇所の差別化を行いエラーを見つけやすくなるよう対処致しました。<br>
				エラーが起こりましたら起こり次第ご報告頂けると幸いです。</p>
			<p>ご迷惑おかけしますことをお詫び申し上げます。9/15,21:00</p>
		</div>
		<div class=border>
			<h5>その他アップデートについて</h5>
			<p>・訓練を行った際に時間が経過しない不具合を調整いたしました。</p>
			<p>・月へ行ったときにお金が減らない不具合を調整いたしました。</p>
			<p>・ログアウト機能を実装しました。</p>
			<p>・見やすさ向上のため修正を行いました。</p>

			<p>今後ともこのゲームをよろしくお願いします。9/15,21:00</p>
		</div>

		<br><br><br>
		<div class=border>
			<h5>戦闘、武器装着でエラーが発生する件について</h5>
			<p>原因追及及び修正を今週末（9/13・14）に執り行います。</p>
			<p>ご迷惑おかけしますことをお詫び申し上げます。9/11,22:00</p>
		</div>
		<br><br><br>
		<div class=border>
			<h5>【追記】編成にて同じプレイヤーを入れてもエラーが出ずにクリアされる件について</h5>
			<p>原因追及を行い修正を行いました。</p>
			<p>以後は正常に動くと思われます。</p>
			<p>皆様にご迷惑おかけしましたことをお詫び申し上げます。9/10,21:00</p>
		</div>
		<br><br><br>
		<div class=border>
			<h5>編成にて同じプレイヤーを入れてもエラーが出ずにクリアされる件について</h5>
			<p>只今原因追及を行っております。</p>
			<p>編成内に同じプレイヤーを入力してもエラーは発生しませんが戦闘等を行いますと、異常をきたします。</p>
			<P>解決されるまで皆様の意識によってエラーの発生防止にご協力ください。</P>
			<p>ご迷惑おかけしますことをお詫び申し上げます。9/10,13:00</p>
		</div>
		<br><br><br>
		<div class=border>
			<h5>お金及び時間についての不具合のお知らせ</h5>
			<p>他人のお金や時間を動かせるようになっていたため修正を行いました。</p>
			<P>つきましては週初めかつ初期金を回復の上再会とさせていただきます。</P>
			<P>ご迷惑おかけしましたことをお詫び申し上げます。9/8,23:00</P>
		</div>
	</div>
</body>

</html>