@charset "UTF-8";

.logo {
	width: 200px;
}

.top-1 {
	text-align: center;
}

.loginsignup {
	padding-left: 30%;
}

.displayflexcenter {
	display: flex;
	text-align: center;
}

.login {
	width: 150px;
}

.indent {
	text-indent: 15%;
}

.ic {
	width: 50px;
}

.highlight {
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: red;
	color: red;
	font-size: 120%;
}

.highlights {
	font-weight: bold;
	text-decoration: underline;
}

.highlightk {
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: red;
	color: red;
	font-size: 150%;
}

.table {
	text-align: center;
}

.font150 {
	font-size: 150%;
}

.loginsignup {
	width: 150%;

}

.loginhighlight {
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

.logoutbutton {
	background-color: white;
	border: 0px;
}

.chattable,
.chattable:link,
.chattable:hover,
.chattable:active,
.chattable:visited {
	display: block;
	color: black;
	text-decoration: none;
}

.chattabletable {
	border-color: black;
	border-collapse: collapse;
}

.chattabletd {
	width: 200px;
	height: 45px;
}

.chattablespan {
	font-weight: bold;
}

.wrapper {
	min-height: 100vh;
	position: relative;
	padding-bottom: 70px;
	box-sizing: border-box;
}

footer {
	position: absolute;
	bottom: 0;
}

.chaticon {
	width: 66.6px;
}

.chatmargin {
	padding-left: 40%;
}

.displayinlineblock {
	display: inline-block;
	overflow-y: scroll;
	vertical-align: top;
	height: 75vh;
}

.chatform {
	text-align: right;
}

.footerchat {
	width: 100%;
}

.chatinput {
	width: 75%;
}

.chatborder {
	width: calc(100% - 240px);
	display: inline-block;
	overflow-y: scroll;
	vertical-align: top;
	height: 72vh;
}

.chatmain {
	min-height: 97vh;
	max-height: 97vh;
}

.mychat {
	float: right;
}

.timechat {
	font-size: 50%;
}

.mychatbox {
	margin-top: 10px;
	max-width: 100%;
	color: black;
	background: #FFF;
	border: 2px #13178E;
	border-radius: 30px 0px 30px 30px;
	margin-left: 50px;
	border-style: solid;
}

.mychatcontent {
	margin: 10px;
}

.chat {
	margin: 0px;
	word-wrap: break-word;
	white-space: normal;
}

.clearboth {
	clear: both;
}

.message {
	overflow: auto;
	height: auto;

}

.yourchatbox {
	margin-top: 10px;
	max-width: 100%;
	color: white;
	background: #13178E;
	border: 2px #13178E;
	border-radius: 0px 30px 30px 30px;
	margin-right: 50px;
	border-style: solid;
}

.yourchatcontent {
	margin: 10px;
}

.yourchat {
	float: left;
}

.chatmargin2 {
	padding-left: 20%;
}

.createindent {
	text-indent: 35%;
}

#video {
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}

#camera-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
}

#rect-canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.indentcome {
	text-indent: 10%;
}

.list {
	text-align: right;
}