<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <div th:fragment="meta" th:remove="tag">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </div>
    <div>
        <link rel="icon" th:href="@{/storage/longrogo.ico}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

        <link th:href="@{/css/style.css}" rel="stylesheet">
    </div>
</head>

<body>

</body>

</html>