<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/storage/white.ico}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

	<link th:href="@{/css/style.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>お知らせ</title>
</head>

<body>
	<header>
		<div class="displayflexcenter">
			<a th:href="@{/}"><img class="logo" th:src="@{/storage/longrogo.jpg}" alt="CirClIng"></a>


		</div>
	</header>
	<main>
		<h1>お知らせ</h1>
		<h4>登録情報の変更について(10/13,11:00)</h4>
		<p>以前の情報一覧より「フリガナ」「電話番号」を削除いたしました。</p>
		<p>そのため以後は他ユーザーに表示される「名前」、ログインのIDやメール認証となる「email」、</p>
		<p>ログインするときに必要になる「password」のみとなり、皆様にお使い頂きやすいようになっております。</p>
		<br><br><br>
		<h4>その他の修正について(10/13,11:00)</h4>
		<p>・グループチャットの名前を変更できるように修正</p>
		<p>・グループチャットに途中から追加できるように修正</p>
		<p>・QRコード読み取りのカメラの修正</p>
	</main>
</body>

</html>