<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/storage/white.ico}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

	<link th:href="@{/css/style.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>ポートフォリオ</title>
</head>

<body>
	<header>
		<div class="displayflexcenter">
			<a th:href="@{/}"><img class="logo" th:src="@{/storage/longrogo.jpg}" alt="CirClIng"></a>
		</div>
	</header>
	<main>
		<h2>作成したWebアプリの紹介</h2>
		<table class="table">
			<thead>
				<th>サイト名</th>
				<th>CirClIng</th>
				<th>CirClIngに搭載のgame<br>(名前はまだない)</th>
			</thead>
			<tbody>
				<td>URL</td>
				<td><a href="https://circling-50c7c90b26f2.herokuapp.com/" target="_blank">リンク</a></td>
				<td>左に同様</td>
			</tbody>
			<tbody>
				<td>ソースコード</td>
				<td><a href="https://github.com/yuhei-nishimura1110/circling" target="_blank">リンク</a></td>
				<td>左に同様</td>
			</tbody>
			<tbody>
				<td>開発環境</td>
				<td>Eclipce</td>
				<td>Eclipce</td>
			</tbody>
			<tbody>
				<td>言語/フレームワーク</td>
				<td>Java/Spring boot</td>
				<td>Java/Spring boot</td>
			</tbody>
			<tbody>
				<td>製作期間</td>
				<td>1か月(R.6:9月中旬~10月中旬)</td>
				<td>1か月半(R.6:8月頭~9月中旬)</td>
			</tbody>
		</table>
		<br><br>
		<h3>circlingの紹介</h3>
		<p>チャットアプリ</p>
		<h5>機能</h5>
		<p>会員登録/ログイン/メール認証/チャット/チャット交換/グループの作成等</p>
		<h5>特徴・アピールポイント</h5>
		<p>チャットを選択する際に最終会話を見えるようにしたこと。</p>
		<p>設定で各種設定変更を操作しやすいように工夫したこと。</p>
		<p>アイコンなど細部にもこだわったこと。</p>
		<p>一か月という短い期間で作ったこと。</p>
		<h5>ビューの全体図と画面遷移図</h5>
		<img class="port50" th:src="@{/storage/circling.jpg}" alt="CirClIng">
		<br><br>
		<h3>ゲームの紹介</h3>
		<p>RPG系ゲーム</p>
		<h5>機能</h5>
		<p>お金/ゲーム内時間/戦闘/スカウト/編成/育成/転職/武器作成/武器装着/名前変更</p>
		<h5>特徴・アピールポイント</h5>
		<p>画面が縦画面の時横向きになるように調整。</p>
		<p>事実的なお金の管理を実装。</p>
		<p>成長に限度ができるように調整。</p>
		<p>スカウトする際名前を自動生成（変更可）。</p>
		<p></p>
		<h5>ビューの全体図と画面遷移図</h5>
		<img class="port50" th:src="@{/storage/games.jpg}" alt="CirClIng">
	</main>
</body>

</html>