<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/storage/white.ico}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

	<link th:href="@{/css/style.css}" rel="stylesheet">
	<meta name="description" content="ある学生がポートフォリオをして作成したチャットアプリ「circling」可愛いアイコンが特徴">
	<title>CirClIng</title>
</head>

<body>
	<header>
		<div class="displayflexcenter">
			<a th:href="@{/}"><img class="logo" th:src="@{/storage/longrogo.jpg}" alt="CirClIng"></a>

			<div class="loginsignup">
				<a th:href="@{/portfolio}"><img class="login" th:src="@{/storage/kigyou.jpg}" alt="企業様"></a>
				<a th:href="@{/information}"><img class="login" th:src="@{/storage/information.jpg}" alt="お知らせ"></a>
				<a th:href="@{/signup/normal}"><img class="login" th:src="@{/storage/signup.jpg}" alt="会員登録"></a>
				<a th:href="@{/login}"><img class="login" th:src="@{/storage/login.jpg}" alt="ログイン"></a>
			</div>

		</div>
	</header>
	<main>
		<div th:if="${successMessage}" class="alert alert-info">
			<span th:text="${successMessage}"></span>
		</div>
		<h1 class="top-1">CirClIng</h1>
		<div class="indent">
			<h2>「CirClIng」とは</h2>
			<p>人間は皆、それぞれの意思を持って点々と生きている。</p>
			<p>その点を繋いで線となりその線を繋いで円となるような</p>
			<p>輪を提供できる場を作りたいと考えた作者が作ったチャットアプリ。</p>
			<br>
			<p class="highlights">大事なことなのでもう一度言わせてください。</p>
			<p><span class="highlight">円(circle)</span>となるような<span class="highlight">輪(ring)</span>を提供する場それはすなわち</p>
			<p>人間関係の<span class="highlightk">旋回(circling)</span>ではなかろうか！？</p>

			<br><br><br>
			<h3>注意</h3>
			<p>PC用に作成したためスマートフォン等ではUIが大幅に崩れる可能性があります。</p>
			<br><br><br>
			<h3>チャットアプリ「CirClIng」の機能</h3>
			<p>・一般的なチャット</p>
			<p>・グループでのチャット</p>
			<p>・グループの作成</p>
			<p>・プロフィールの編集</p>
			<p>・ログイン機能</p>
			<p>・QRコードの実装</p>
			<p>・QRコードの読み取り機能</p>
			<br><br>
			<h3>今後の展望</h3>
			<p>・機能の増加を検討</p>
			<p>・色彩を含めたUIの改善の実施</p>
			<P>・利用規約の制定</P>
			<p>・別で作ってきたゲームの移設</p>
		</div>
	</main>
</body>

</html>