<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/storage/white.ico}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

	<link th:href="@{/css/style.css}" rel="stylesheet">
<meta charset="UTF-8">
<title>お知らせ</title>
</head>
<body>
	<header>
		<div class="displayflexcenter">
			<a th:href="@{/}"><img class="logo" th:src="@{/storage/longrogo.jpg}" alt="CirClIng"></a>


		</div>
	</header>
	<main>
		<p>只今お知らせはございません。</p>
	</main>
</body>
</html>