<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/storage/white.ico}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

	<link th:href="@{/css/style.css}" rel="stylesheet">
	<meta charset="UTF-8">
	<title>ポートフォリオ</title>
</head>

<body>
	<header>
		<div class="displayflexcenter">
			<a th:href="@{/}"><img class="logo" th:src="@{/storage/longrogo.jpg}" alt="CirClIng"></a>
		</div>
	</header>
	<main>
		<h2>作成したWebアプリの紹介</h2>
		<table class="table">
			<thead>
				<th>サイト名</th>
				<th>CirClIng</th>
				<th>CirClIngに搭載予定のgame<br>(名前はまだない)</th>
			</thead>
			<tbody>
				<td>URL</td>
				<td>リンクを付ける</td>
				<td>リンクを付ける</td>
			</tbody>
			<tbody>
				<td>ソースコード</td>
				<td>リンクを付ける</td>
				<td>リンクを付ける</td>
			</tbody>
			<tbody>
				<td>開発環境</td>
				<td>Eclipce</td>
				<td>Eclipce</td>
			</tbody>
			<tbody>
				<td>言語/フレームワーク</td>
				<td>Java/Spring boot</td>
				<td>Java/Spring boot</td>
			</tbody>
			<tbody>
				<td>製作期間</td>
				<td>1か月(R.6:9月中旬~10月中旬)</td>
				<td>1か月半(R.6:8月頭~9月中旬)</td>
			</tbody>
		</table>
		<h3>自己紹介<h3>
	</main>
</body>

</html>