<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/storage/white.ico}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title>リスト</title>
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="displayflexcenter">
				<a th:href="@{/}"><img class="logo" th:src="@{/storage/longrogo.jpg}" alt="CirClIng"></a>

			</div>

		</header>
		<main>
			<a th:href="@{/chat/__${board.getId()}__/list}"class="indentcome">戻る</a>
			<h1 class="top-1"><span th:text="${board.getName()}"></span><span>に追加</span></h1>
			<form method=post th:action="@{/chat/__${board.getId()}__/come/ed}" th:object="${comeForm}">
				<div th:each="chattable:${chattableListselect}">
					<input type="checkbox" name="menber" th:value="${chattable.getUser().getId()}">
					<label th:text="${chattable.getUser().getName()}"></label>
				</div>
				<div th:if="${chattableListselect.size() == 0}">
					<span>追加できる人が居ません</span>
				</div>
				<div th:if="${chattableListselect.size() != 0}">
					<button type=submit>招待</button>
				</div>
				
			</form>
		</main>
	</div>
	<footer class="footerchat">
		<a th:href="@{/home}"><img class="chaticon" th:src="@{/storage/home.jpg}" alt="home"></a>
		<a th:href="@{/chat}"><img class="chaticon" th:src="@{/storage/chat.jpg}" alt="chat"></a>
		<a th:href="@{/settings}"><img class="chaticon" th:src="@{/storage/settings.jpg}" alt="settings"></a>
	</footer>
</body>

</html>