<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/storage/white.ico}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title>リスト</title>
</head>

<body>
	<div class="wrapper">
		<header>
			<div class="displayflexcenter">
				<a th:href="@{/}"><img class="logo" th:src="@{/storage/longrogo.jpg}" alt="CirClIng"></a>

			</div>

		</header>
		<main>
			<a th:href="@{/chat/__${board.getId()}__}" class="indentcome">戻る</a>
			<div class="list">
				<a th:href="@{/chat/__${board.getId()}__/come}">招待</a>
				<a th:href="@{/chat/__${board.getId()}__/settings}">設定</a>
			</div>
			<h1 class="top-1"><span th:text="${board.getName()}"></span><span>のメンバー</span></h1>
			<table align=center>
				<thead>
					<th><span th:text="${user.getName()}"></span></th>
				</thead>
				<div th:each="chattableList:${chattableList}">
					<thead th:if="${chattableList.getUser().getId() != user.getId()}">
						<td>
							<a th:href="@{/connect/__${chattableList.getUser().getId()}__}">
								<span th:text="${chattableList.getUser().getName()}"></span>
							</a>
						</td>
					</thead>
				</div>
			</table>
		</main>
	</div>
	<footer class="footerchat">
		<a th:href="@{/home}"><img class="chaticon" th:src="@{/storage/home.jpg}" alt="home"></a>
		<a th:href="@{/chat}"><img class="chaticon" th:src="@{/storage/chat.jpg}" alt="chat"></a>
		<a th:href="@{/settings}"><img class="chaticon" th:src="@{/storage/settings.jpg}" alt="settings"></a>
	</footer>
</body>

</html>